@model CSM.ParkingData.Models.SensorEventsSettings

<h2>Sensor Events Settings</h2>

<fieldset>
    @Html.LabelFor(m => m.LifetimeLength, T("Lifetime"))
    @Html.TextBoxFor(m => m.LifetimeLength, new { @class = "text small" })
    @Html.EnumDropDownListFor(m => m.LifetimeScope)
    <span class="hint">This is the length of time after a sensor event's <code>EventTime</code> that the sensor event is available from the public API.</span>
</fieldset>
